.header {
    width: 100%;
    height: 41px;
    line-height: 41px;
    background-color: #fafafc;
    font-size: 12px;
}

.header .header-c .header-left {
    float: left;
}

.header .header-c .header-left li {
    float: left;

}

.header .header-c .header-left a {
    display: block;
    padding: 0px 14px;
    color: #666666;
}

.header .header-c .header-right {
    float: right;
}

.header .header-c .header-right li {
    float: left;
}

.header .header-c .header-right a {
    position: relative;
    display: block;
    padding: 0px 14px;
    color: #666666;
}

.header .header-c .header-right li a .tips {
    position: absolute;
    top: 3px;
    right: -2px;
    width: 29px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7452;
    font-size: 12px;
    border-radius: 9px;
}